@{
    ViewData["Title"] = "Songs";
}

<h2>@ViewData["Title"].</h2>
<p>Welcome to the Songs page.</p>
<p>
    <a asp-controller="Home" asp-action="Song1">Song 1</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Song2">Song 2</a>
</p>
<p>
    <a asp-controller="Home" asp-action="Song3">Song 3</a>
</p>